In [1]:
import pandas as pd

In [11]:
dtypes = {
	'patient_id': str,
	'claim_id': int,
	'diagnosis_code': str,
	'procedure_code': int,
	'date_service': str,
	'date_received': str,
}
df = pd.read_csv('data/sample_claims.csv')

In [6]:
df.loc[df['patient_id'] == 'zzzzzz'].size

0

In [10]:
df.loc[df['claim_id'] == 572]

,patient_id,claim_id,diagnosis_codes,procedure_code,date_service,date_received
570,A1415,572.0,M15.0^L65.9^M85.9^E55.9^R73.09^E78.5,86850,NaN,2021-01-29

In [12]:
claim_ids = df.loc[df['claim_id'].notna(), 'claim_id']

In [14]:
(claim_ids == claim_ids.astype(int)).all()

True

In [ ]:
claim_ids.eq(claim_ids.astype(int)).all()